<!--判断学校等级-->

<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>判断学校等级</title>
		<script src="js/vue.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<div id="app">
			<input v-model="message"/>
			<p v-for="(item) in one"><span v-if="item.school==message">985学校</span></p>
			<p v-for="(item) in two"><span v-if="item.school==message">211学校</span></p>
			<p v-for="(item) in three"><span v-if="item.school==message">啥也不是</span></p>
		</div>
		<script type="text/javascript">
			var v=new Vue({
				el:'#app',
				data:{
					message:'',
					one:[{school:'北京大学'},{school:'清华大学'}],
					two:[{school:'广西大学'}],
					three:[{school:'广西科技师范学院'}]
				}
			})
		</script>
	</body>
</html>